
/* fuentes:  'icomoon' 'ruda''questrial'*/
	
	
		/* #buscador*/
	
		/* #resumen */
		
		/* #titulos */
		
/* general - ESTRUCTURA	
-------------------------- */
 
/* .bl50{                          
	float:left;
	width:50% !important;
	position: relative;
    min-height: 1px;}        formulario */   


/*.bl50{  
    width: 49% !important;
    min-height: 1px;
    display:inline-block !important;
    margin: 0px;
    box-sizing: border-box
}*/
	




.lateral { /*float:right ;  se movio al cambiar estilos*/
}
.lateral-inversores {  
	float:right ;
    padding-right: 0px;
}

.right{
	float:right !important;}

.left{
	float:lert !important;}
	
/* colores 
-------------------------------- */
.grisClaro{	background-color:#CCC}
.grisAzul01{	background-color:#90A8BB;color:#90A8BB} 
.grisAzul02{	color:#6C8796} 

.azul{	color:#2b4e61}
.azulClaro{	background-color:#3F728D}
.naranja{	}
	
.naranja {
	color:#F47C04;	
	}
.naranjaRojo {
	color: #F54003;
	}
	

/* Elements		
-------------------------------------------------------------- */
ul li {list-style-type: none;}

.caja {
	margin: 0;
	padding:15px;
	border: 1px solid #E3E3E3;
	background-color:#FFF;
	margin-bottom:5px;
	margin-top:5px;
	border-radius: 5px;
	}

.caja_articulos{
	margin: 0;
    padding: 0px 15px;
    border: 1px solid #E3E3E3;
    background-color: #FFF;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;}
	



.box_blanco {
	/*float: left;*/
    background-color: #ffffff;
    border: 1px solid #efefef;
   /* color: #000000;*/
    display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family:'ruda',sans-serif;*/;
     font-size: 12px; */
    font-weight: normal;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    text-align: left;
    padding: 20px;
	padding-top: 6px;
    box-shadow: 1px 2px 1px #b8bcbf;
    margin-bottom: 10px;
	
	border-radius: 0px 0px 9px 9px;
-moz-border-radius: 0px 0px 9px 9px;
-webkit-border-radius: 0px 0px 9px 9px;

}


/* TITULOS
-------------------------- */

h1.heading {
	color: #2b4e61;
	font-size: 30px;
	margin: 0;
	font-family:'ruda',sans-serif;
	position:relative;

	
	}
.sub-heading {
	font-size: 20px;
	margin-bottom: 6px;
		font-family:'ruda',sans-serif;
		    color: #2b4e61;
	}
 
h2.tit_buscadores{
	font-family:'ruda',sans-serif;

	color: #FF6802;    }    /* formularios*/
 
h2.tit_box{                /* pertenece a flash*/
	font-family:'ruda',sans-serif;
    color: #FF6802;
    font-size: 20px;
    margin-bottom: 4px;
    border-bottom: 2px solid #90A8BB;
    margin-bottom: 0px;
    line-height: 22px;
	
	padding: 7px 7px 3px 5px;
    border-radius: 5px 5px 0px 0px;
	/*    background-color: #C55214;*/
	}
	
h2.tit_box span{
	       font-size: 15px;
    padding-right: 1.2%;
	padding-left: 0.5%;
	color:#90A8BB;
	  }	
	

h2.tit_buscadores2, h3.tit_buscadores2, .tit_buscadores2>h2,.tit_buscadores2>h3,.list-inver h3{          /*  en la parte de flash titulos esta en h2 debería ser un h3, */ 
	/*background-color:#F00;  */  
	color: #195677;
    font-size: 17px;
/*	margin-top:19px;*/
	margin-bottom:5px;
	    margin-top: 7px;
		text-transform:capitalize;
	}
	
.tit_mod{
			font-family:'ruda',sans-serif;
			color:#2B4E61;
		}

/*.list-inver h3{
	margin-top:8px;
	margin-bottom:2px;}*/
		
/* 	BOTONES - enlaces
-------------------------- */
a {
	/*color: #000000;	 negro */
	text-decoration:none;
	}
a:focus, a:hover {
	color: #F47C04;	/* naranja */
	}
	
.btn , input[type="button"] ,input[type="submit"] {                            /* revisar btn en form_boots */
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/*           botones:    COLOR              */  

/*             INPUT      por defecto:  azul/blanco    */  
input[type="button"] ,input[type="submit"] { 
  background-color:#2B4E61;    
  color:#FFF
	}
input[type="button"]:hover ,input[type="submit"]:hover {  /* azul+claro/blanco */
	background-color: #3F728D;
	color:#FFF;	}	
	
/*         A HREF    > btn, btnAzul   */	
	
a.btn, .btnAzul {                            /* azul/blanco */
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color:#2B4E61;
	color:#FFF  }
a.btn:hover, .btnAzul:hover {              /* azul+claro/blanco */
	background-color: #3F728D;
	color:#FFF;
 }
 
/*        TODO   > btn blanco, blancoHover   */	 

 /* blanco/azul */
.btn.blanco{       
	background-color: white;
    color: #2B4E61;
    border-color: #e3e3e3
	}
.btn.blanco:hover{
	border-bottom-color: #3F728D;
    color: #F66719;          /*  color: #fff;  */
	background-color: #FFF;
	}
	
 /* blancoHover */	
.btn.blancoHover{      
	background-color: white;
    color: #2B4E61;
    border-color: #e3e3e3
	}	
.btn.blancoHover:hover{
	background-color: #3F728D;
	color:#FFF;
	}
	
	/* Rojo */	
.btn.rojo, .rojo{						
	background-color: #f2dede;
	color: #a24059;
	}	
	
/* gris / azul */		
.btn.gris, .btn.grisB{							
    background-color: #F7F7F7; 
	color: #2B4E61;            
	}
.btn.gris:hover{
	color:#2B4E61;
	text-decoration:none;
	background-color: #EAEAEA;       /* gris */	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
.btn.grisB:hover{
	background-color: #3F728D;
	color:#FFF;
	}
	

	/*tamaño btn*/

.btn.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}	
.btn.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
	
	/*close*/

.sinMargen{
	display:none;
	margin:auto -15px -15px;
	background-color:white;
	overflow:hidden;}
	
.sinMargen  ul{
	max-width:500px;
	margin:auto;
	padding:14px 2px 6px;
	}
	
.sinMargen li{
	display: inline-block;
    min-width: 20%;
    float: left;
   /* border:solid 1px red;*/
	box-sizing:border-box;
	text-align:center;
	position:relative;
}
.sinMargen a:hover{
	position:relative;
	top:-5px;
	}

		/*alert*/
.alert {
    padding: 20px 15px 4px;
    margin-bottom: 10px;
    border: 1px solid #dfc3c3;
    border-radius: 2px;
}

.alert.azul {
	font-size: 14px;
    line-height: 1.42857143;
    font-family: 'ruda',sans-serif;
	background-color:white;

	border-left:2px solid;
	border-color:#6FBAE4;
	box-shadow: 1px 1px 4px rgba(117, 117, 117, 0.68);
/*	margin: 10px auto;*/
	float: left;
}
.alert.azul .close{
	color:#6FBAE4;
	filter: alpha(opacity=100);
    opacity: 1;}
.alert.azul .close:hover{	
color:#0973ae;
}

.alert.azul a{
	text-decoration:underline;
	
	}


	
.clickNavegadores{
	text-decoration:underline;}
	
	
.alert .icon-warning{
	font-size: 42px;
    float: left;
    margin: 2px 20px 10px 5px;
	}
.alert h4{
	    font-size: 16px;
/*    font-weight: normal;
    text-transform: uppercase;*/
    margin-bottom: 1px;
	    margin-top: 5px;
	}
.alert p{
	    display: table;
    font-size: 14px;
    margin-top: 0px;
	line-height:1.3em;
	}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
	position: relative;
    top: -9px;
    right: -5px;
}


.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=60);
    opacity: .6;
}		
.close:hover {
	filter: alpha(opacity=100);
    opacity: 1;
	}	
	
/* forms  */	
	
#div_formulario a{             /* debería sustituirse por btn */	
	text-decoration:none;   
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

	min-width:200px;
	float: right;
	
    background-color: #F7F7F7; /*#2B4E61;*/	
	color: #f47c04;            /* gris / naranja */	
	}
#div_formulario a:hover{
	text-decoration:none;
	background-color: #EAEAEA;       /* gris */	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
	
	
	
	

/*  ///  HOME	  ///
-------------------------- */
.slogan{
	    background-color: #FCFEFF;
    padding: 0px 15px 10px;
    border-bottom: 1px solid #D6DBE0;}

.slogan .frases{ font-size: 16px;
    line-height: 23px;
    font-family: "questrial",Arial, Helvetica, sans-serif;
}
.frases .imago{    
	position: relative;
    bottom: 9px;
    left: 3px;
}



.inversores .boxer .box-row{
	font-size: 14px; !important;	} /* recolocar */


/* inversores 
-------------------------------- */
.inversores {
	    /*border: 1px solid #E0E0E0;
	    border-radius: 5px;
	    background-color: #ECECEC;*/
	 border: 1px solid #BDD6E6;
    border-radius: 5px;
    background-color: #DCE3E8;
    border-bottom: 3px solid #A0BED4;
	
    margin: 10px -15px;
    padding: 5px 15px 5px;
	    overflow: hidden;
	}


.inversores h2{
	margin-top: 20px;
	margin-bottom: 6px;
    font-family: "ruda",sans-serif;
    /*color: #0973bf;*/
	color: #141414;
	
	}
	
.inversores h2 	span{
    float: right;
    font-weight: normal;
/*    font-family: arial;*/
    text-transform: capitalize;
/*	color:#666666;*/
	}
h2.sabermas{
	font-family:"ruda",sans-serif;
	font-size:20px;
color:#2b4e61;}
.inversores a{	
	margin-top: 1px;
    padding: 3px 5px;
    display: inline-block;
/*    background-color: #CAD7E4;*/
    border-radius: 3px;
	text-decoration:none;
	color:#cf5800;
	
}
.inversores a:hover{
	background-color: #ECF0F4;
		color:#ff6802;
/*	color: #0B7ED5;*/
	}	
.inversores btn{}

.inversores .tbl_bordered{
		width: 100%;}
		
.inversores hr{
	display:none;}
		
.tbl_bordered th{
	 text-transform: capitalize;
    line-height: 1.2;
    color: #666;
    font-weight: normal;
	padding-bottom: 2px;
	border-bottom: 1px solid #ABABAB;
	font-weight:bold;
	
	}	
.tbl_bordered th::first-line{
/*		color:#999;*/
		font-weight:normal;
		}
		
.tbl_bordered tbody tr:nth-child(1) td{
	padding-top: 5px;}		

.inversores .tbl_bordered td:nth-child(1) {
	width: 6%;
	}
.inversores .tbl_bordered td:nth-child(2) {
	color: #337ab7;
	}	
	
	
	
.tbl_bordered td{}

.visto {
	background-color: #FFF;
    padding: 4px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
	/*box-shadow: 1px 2px 1px #b8bcbf*/;}

.visto [class*="col-"]{    /*col-md-6*/
	  padding-left: 5px;
 	 padding-right: 5px;
	}              

.masvisto {
	list-style:none;
	    margin-bottom: 5px;
		    color: #cf5800;
 font-size:12px;
				}
/*.masvisto span{
	 color: #cf5800;
}*/
			
		
.enlace_masvisto a{
 font-size:14px;
}


.masvisto img{
	position: relative;
    top: -1px  !important;	
	}

.cajaInterior{
	margin-top: 3px; 
	margin-bottom: 5px;  /* cambio */
	background-color: #ffffff;
    border: 1px solid #efefef;
	 
    border-radius: 9px;
    /*-moz-border-radius: 9px;
    -webkit-border-radius: 9px;
	 box-shadow: 1px 2px 1px #b8bcbf;*/
    text-align: left;
    padding: 10px !important;
	}


.titu_lomas{
	margin: 0px 0px 10px;
	    font-family: "ruda",sans-serif;
	}


/* suscribe-PwSemana publi
-------------------------------- */
.suscribe-PwSemana{ }

.suscribe-PwSemana .icon-info{
	color: #FF6802;
    position: relative;
    top: 0.02em;
}

.suscribe-PwSemana p a{
	color: #FF6802;
    margin: 0 0.5em 0 0;
    text-decoration: none;}
.suscribe-PwSemana input[type="checkbox"]{
	display: inline-block;
	}
	
.suscribe-PwSemana input[type="submit"]{
	display: table;
	margin: auto 0 auto auto;
	}



/* bienvenido
-------------------------------- */

 /* estilos en la versión anterior del cambiar a modal*/
.cliente {
	margin:auto;
    width: 80%;
    max-width: 890px;}

.cliente tr td {          /* ??   antes de modal*/
margin-top: 5px;
    padding-top: 9px;

	}
.cliente tr td label {             /* ??   antes de modal*/
    margin-left: 10px;
    margin-right: 5px;	
	}

.cliente .botones{
	text-align: right;}

.bienvenido {
	margin: auto 4%;}
	
.bienvenido	textarea{
	width:100%;}
	
.bienvenido form{
	color:#666;}
	
.bienvenido	.btn{ 
margin: 10px 0px auto auto; 
display: table;
}	

.bienvenido	strong, .cliente strong{ 
color:#2b4e61;
}	
	
.destaca {
	font-size:24px;
	}
	
.restringida{
	margin-left:2%;
	color:#666;}
	
	
	
	
/* pw semana , pw dia , flash
-------------------------------------------------------------- */	

.nav-check{
	margin:  -2px -15px auto -15px;
}

.nav-check>*{
	display:inline-block;
	}

.nav-check .explica-01{
	margin-right:3%;
	margin-top: 5px;
    text-align: right;
    float: right;
	color: #2B4E61;
	}

.bts-selecciona{}                                     /* -- .btn.blanco -- */
/*.btn.blanco, .btn.blancoHover{
	background-color: white;
    color: #2B4E61;
    border-color: #e3e3e3
	}
.btn.blancoHover:hover{
	background-color: #3F728D;
	color:#FFF;

	}*/

.fechas .col-md-4{
	padding-left:2px;
	padding-right:2px;
	}
	

.fechas .heading {
	font-size: 28px ;
	}	

.heading.PWhoy{
	margin-left:15px;
}


.heading>span.icoLogo{
	line-height:10px ;
	font-size: 10px ;
	}
	
	
.heading>span.icoLogo:before {
	content:url(/img/imagotipo_naran.png);
	position: absolute;
    top: 1px;
    left: -5px;
	/*position: relative;
	top: -17px;
    left: 5px;*/
	}	
	
.heading.PWsemana span.icon{
    font-size: 20px;
    border-left: solid 1px #B0B0B0;
    padding-left: 5px;
	}
	
.heading.PWsemana:hover{
	color: #1F85BD;
/*	color:red;*/
	}
.heading.PWsemana:hover  span.icon{
    color:#F47C04;	

	}	
		
	
.fecha_actual{    
    cursor: pointer;
    background-color: #F7F7F7;
    display: table;
    padding: 2px 10px;
    border-radius: 5px;
	margin: 7px 0 auto auto;
    color: #2b4e61;
    font-size: 20px;
 }
.fecha_actual:hover{
    background-color: #ECECEC}  
 
 
 /* fecha corta-larga en flash*/
 #fecha_actual_corta {display:none;}
 
@media screen and (max-width: 767px) {
	#fecha_actual_corta {display:table;}
	#fecha_actual {display:none;}
}
 /**/
	
.listado_fechas{
	border-left: 2px solid #71A7C5;
    padding-left: 10px;
	}
	
.listado_fechas li a{
	color:#737373;
	}
.listado_fechas span.azul2{
		color:#2b4e61;
	}
	
.otraSeleccion{
	float:right; padding-top:15px;
	margin-right: -15px;
}

.otraSeleccion label{
	    margin-bottom: 0px;
}
	
	
/* /////////////////      BARRA NAVEGACION                //////////////////////////*/ 

nav.barraNav{
	margin: 5px -12px 1px -12px;
	    position: relative;
	/*background-color:#FFF;*/}
	

.btnsSiguiente{
	float:right;
	/*padding-right:15px;*/}
.seleccionados{
	position: absolute;
    z-index: 10;
    background: white;
    padding: 16px 20px 30px;
    border: 1px solid #E3E3E3;
	border-bottom: 3px solid #E3E3E3;
    width: 257px;
    right: 0px;
	margin-top: 2px;
	border-radius:0 0 5px 5px;
	}
	
/*.btnArt{
	display:inline-block;
	color:#7a7a7a;
	padding: 0px 15px;
	line-height:29px;
}

.btnArt:hover{
	text-decoration:none;
	color:#ff6802;
}

*/
.lineLeft{
	border-left:1px  dotted #9a9a9a;
	padding-left:8px;
}

	
	
/*   imprimir     // PASA A ARTICULOS (html por dentro)                    */
.imprimir { 
	/*background-color:#CCC;*/
	    font-family: 'ruda',sans-serif;
	float:right;
	font-size: 13px;
	text-align: right;
	/*padding-top: 4px;*/}
	
.imprimir a, .imprimir span {
	color:#666;
	}
.imprimir a span, .imprimir span img {
	margin-left: 4px;
	}
	
.imprimir a{
	margin-right: 11px;}	

.imprimir span img {
	width: 20px;
	height: auto;
	}
	
.imprimir a:hover,.imprimir a:hover span {
	color:#ff6802;
	}
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/* Helpers		  .. pabloo ??
-------------------------------------------------------------- */

/*.amarilla {
	background:#FFFFCC; 
	}
.sombra {
	box-shadow: 3px 3px 0px #b8bcbf;
	}
.txtRojo {
	color:#990000;
	}

.med {
	font-size:12px;

	}
.peq {
	font-size:11px;

	}
.mini {
	font-size:10px;

	}

.prieto {
	margin-top:0;
	margin-bottom:0;
	}

.figure_tit {
	display:block;
	font-family:'ruda',sans-serif; 
	font-size:18px;
	font-weight:bold;
	border-bottom:1px dotted grey; 
	}

.dev {
	background:#FFFFCC; 
	margin:2px; 
	border:#c1c1c1 1px solid;
	line-height:1.1em;
	}*/
	
/* jp, elementos q jp3 no está teniendo en cuenta en style.css	
-------------------------------------------------------------- */



@media (max-width:767px) {          /* ///////// solo movil    */
.seleccionados{ 
    width: 100%;
	max-width: 250px;
	}

.cliente {
    width: 100%;
   }                               

.fechas .caja{
	padding:10px;}
	
.fechas div[class^="col"]	{

	padding-left: 5px;
    padding-right: 0px;}	
	

	
}

@media (max-width:450px) { 

.hidden-xs450{
	display:none;}

.seleccionados{ 
    max-width: none;
	}

	.bts-selecciona{ width:100%; text-align: center;
	padding: auto 10px;}

 .fechas  .col-xs-6 {
	 width:100%;}	
	 
 .fechas .fecha_actual{ 
 text-align: center;
 width:100%;
 margin: 10px auto;}
 
.nav-check .explica-01 {width:100%;
 text-align:center;
 margin: 10px auto;
 font-size: 13px;}
}




@media (min-width: 768px){  /*    ///////// standard    */
	

}

@media (min-width: 992px) {           /* /////////    escritorio    */


 .inversores{
	 margin:  0px -15px 0px 0px}
	


.lateral {
    /*float: right !important;    jj */
	position: relative !important;
    float: right !important;
}

}


 @media (min-width:1200px) {                 /* //////  escritorio grande   */

	
}




 

