




/*[class~=cell]             p:nth-child(2)      :first-child*/

/*.fila>div[class*="cell-"]:first-child{
	width:40%;
	}*/
/*.fila>div[class*="cell-"]:nth-of-type(2){
	background-color:green;
	}
	
.fila>div[class*="cell-"]	{
	display:table-cell;}	*/	
	
	
	

	



/*       tablas div   ----- */
.tabla {                
	width: 100%;
	display: table;
	}
.fila  {
	width: 100%;
	display: table;
/*	cursor: pointer;
	*/
	border-bottom: 1px #CCCCCC;
    border-bottom-style: dotted;
	
	}

/*       cabecera    ----- */
.cabecera .inm_row{
   /* border-bottom: solid;
	background-color: aliceblue;*/
		
    border-width: 1px;
	border-bottom-color: #FF9E5C;

	}
	
.cabecera div>a {
	display: inline-block;
	width: auto;
	border-bottom: none;
	}
	
.tabla_cabecera .fila, .cabecera.fila {
	    border-bottom-color: #FF9E5C;
		    color: #0973AE;}	
		
.cabecera .tit {
	/* height:30px; */
	font-size:.9em;
	/*border-bottom: 1px solid black;*/
	border-bottom: none;
	    text-transform: capitalize;
		}
.cabecera .deals_fecha.tit {
	color: #666666;
	width: 88px;
		}	



/*       botones    ----- */
.tabla-botones{	
	}
	
		
.tabla-botones .leer{
	margin-left: 3%;	
	}
	
.tabla a{                   /*   hover linea de tabla   ----- */
	display:table;

	width:100%;
	padding: 0px 2px 3px;
	position:relative;
	
}


.tabla a:hover{
	background-color: #FFF3CA;
	text-decoration:none;
	}





/*  ASIDE     TAKE OUT - DEAL  ----- */
.col-titu{
	padding-right:120px;
	margin-bottom: 25px;
/*	float:right;*/
	/*background-color: orange;*/
	}
.col-selec{
	width:110px;
	float:right;
	/*background-color: green;*/
	}

.col-titu h3.tit_mod{ 
	    margin: 6px 0px;
	}
	
	
/*	 estructura .filaLat / .filaLat-cabecera  */
.filaLat, .filaLat-cabecera{
	display:table;
	width:100%;
	font-size:13px;
	line-height: 20px;
}
.filaLat > div , .filaLat-cabecera > div {
	display:table-cell;}	
.filaLat > :not(:first-child), .filaLat-cabecera > :not(:first-child){   
	width: 14%;
	text-align:right;
	}


/*	 estilos  .filaLat-cabecera  */
.filaLat-cabecera{
	border-bottom: none;
	}
.filaLat-cabecera>div, .filaLat-cabecera>th{
	border-bottom:1px dotted #ff9e5c;
	color: #2B4E61;
	 font-family: ruda;
    font-weight: bold;
	font-size:13px;
	}
.filaLat-cabecera> :first-child{
	border-bottom:none;
	}	

/*	 estilos  .filaLat  */
.filaLat{
	border-bottom: none;
	color: #7c7c7c;
	}
.filaLat a{
	text-decoration: none;
    color: #337ab7;}
.filaLat:hover {   
	background-color: #FFF3CA;
    text-decoration: none;
	}
.filaLat :first-child{
	padding-left:7px;
	}
.filaLat.titu :first-child{
	padding-left:0;
	}
	
/*	 estilos  .filaLat.titu */		
.filaLat.titu{
	border-bottom:1px dotted #c1c1c1;
	color:#2b4e61;
	padding-top:2px;
	margin-top: 4px;}

.filaLat.titu  :first-child a {
	font-family:'ruda';
	font-weight:bold;
	color:#2b4e61;
}

/*       tbFiltros01      ----- */

.tabla.tbFiltros01{
	background-color:#EAF8FF;}


.tbFiltros01 .filaLat,.tbFiltros01 .filaLat-cabecera {
   /* display: table-row;;*/
}

/*.filaLat > :not(:first-child), .filaLat-cabecera > :not(:first-child) {
    width: 14%;
    text-align: right;
}*/

.filaLat > :not(:first-child), .filaLat-cabecera > :not(:first-child) {
    width: 14%;
    text-align: right;
}

.tbFiltros01 [colspan]{
	text-align:center;
	}
.tbFiltros01 [colspan="2"]{
	width: 28%;}

.tbFiltros01 [colspan="4"]{
	width: 56%;}

/*  //////////////////   tbFiltros    /////////////   */

.tabla.tbFiltros{
/*	background-color:#EAF8FF;*/
	color:#014f75;  /*2B4E61*/
	border-collapse:separate;
	font-size:13px;
	padding: 10px 5px 5px;
	border: 1px solid #F0F0F0;
    border-top: 1px solid #52AAEC;
	margin-bottom: 16px;
	}
	
.tbFiltros th, .tbFiltros td {
	border-bottom: 1px dotted #c1c1c1;
	padding: 4px 1px 0px;
	}
/*  ----- */	
.tbFiltros caption{
	/*background: #2b4e61;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px 3px 1px 7px;
	font-style:italic;*/
	background: #EFF8FF;
    color: #0973AE;
    font-size: 14px;
    padding: 3px 3px 1px 7px;
    /* font-style: italic; */
    /* border-top: 1px solid; */
    border-bottom: 1px solid #52AAEC; 
	font-family: questrial, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.tbFiltros thead th {
	/*font-family: ruda;
    font-weight: bold;
	border-bottom-color: #F47C04;
	text-align:center;*/
	font-family: ruda;
    font-weight: normal;
    border-bottom-color: #c1c1c1;
    text-align: center;
    font-size: 12px;
    color: #747474;
	}
	

	
	
	
.tbFiltros thead th:first-child {
	border-bottom-style: none;}
	
.tbFiltros tr td:first-child {
	font-size: 11px;
    text-transform: uppercase;}
	
.tbFiltros tr.desglose td:first-child {
	font-size: 13px;
    text-transform: capitalize;}
	
/*.tbFiltros tr td:nth-child(4), .tbFiltros tr th:nth-child(4) {
	width: 10px;
    border-bottom: hidden;
	}*/

.tbFiltros span.icoMapas img{
	    max-width: 10px;
		vertical-align: baseline;}

.tbFiltros tr td:empty, .tbFiltros tr th:empty:not(:nth-child(1)) {
	width: 10px;
    border-bottom: hidden;}


 /*.tbFiltros tr td.vacio, .tbFiltros tr th.vacio {
	width: 10px;
    border-bottom: hidden;
	}*/


	
	

.trFiltros td:nth-child(2),.trFiltros td:nth-child(3) {
	text-align: right;
	font-weight: bold;
	}
.trFiltros.activo {
	 background-color: #EFF8FF;
	 font-weight: bold;}	
	 	
.trFiltros:hover {
	   /* background-color: #FBFBFB;*/}	
.trFiltros:hover a.btFiltros  {   /*activo*/
	       border: 1px solid #FFC663;}	
		   
		   
/*trFiltros.desglose*/
.trFiltros.desglose {
	color:#969696;}
	
.trFiltros.desglose td:nth-child(1){
	padding-left:5px;
	}

.trFiltros.desglose td {
	border-bottom-color: #E6E6E6;
	font-size: 12px;
    padding: 0px 1px 0px;
}
.trFiltros.desglose td span {

}
	
.trFiltros.desglose a.btFiltros{
	margin: 4px 1px 3px;
    padding: 2px;
    color: #81A5BF;
	}	
.trFiltros.desglose span.bolo::before{
	/*content: url(../_inc/javier/img/bolo01.png);
    position: relative;
    left: -5px;
    top: -3px;*/
		}	
	
/*trFiltros .trTotalAlquilado*/	
.tbFiltros .trTotalAlquilado{
	background-color:#eff8ff;} /*FFF8DC*/
	
.trTotalAlquilado td{
	padding-left:3px;}	
	
.tbFiltros span.totalAlquilado{
	padding-left:8px;
	font-size:11px;}
	
/*  //  */		
a.btFiltros{
	padding: 4px;
    color: #53abeb;
/*    background-color: antiquewhite;*/
    text-align: center;
    /* vertical-align: top; */
    /* line-height: 1.4; */
    border: 1px solid #f1f1f1;
	margin: -1px 1px 3px;
	display:block;
	    border-radius: 3px;
		text-decoration:none;
}
a.btFiltros span{	
	vertical-align: middle;
	}
/*a.btFiltros:hover{
	color: #FF6701 !important;  
	border-color: #FF6701  !important; #FFC663 
	}	 */

a.btFiltros:hover {
    color: #FFFFFF !important;
    background-color: #52AAEC;
    border-color: #FFFFFF !important;
}
a.btFiltros.activo{
	color: #fff !important;  
	background-color: #FF981E !important;  
	/*border-color: #FF6701  !important;*/
	
	/*#FFC663  */}
	
	
	
	 
/*a.btFiltro.activo span{
	 color: #FFC663;}*/



/*  //////////////////   tbFiltros  AGENCIAS   /////////////   */



.tabla.tbFiltros.tbagencias{
	
	}

.tbFiltros.tbagencias caption{
	background: none;
    border-bottom: none;
    padding-left: 0px;
    /* color: #909090; */
    font-size: 13px;
}

.tbFiltros.tbagencias tr td:first-child {
    font-size: 11px;
}


.tbFiltros.tbagencias .trFiltros td:nth-child(2), .tbFiltros.tbagencias .trFiltros td:nth-child(3), .tbFiltros.tbagencias .trFiltros td:nth-child(4) {
    text-align: right;
    font-weight: normal;
	font-size: 12px;
	color: #969696;
}



.tbFiltros.tbagencias .trFiltros td:nth-child(1){

	width: 90px;
	line-height: 1.2;

	}



.tbFiltros .trFiltros.trVerTodas{
	display: table-row !important;
}

/*       noticias      ----- */

.list_check{
	display: table-cell;
	width: 18px;
	padding: .3em 3px 0 2px;
	}
.list_titulo {
	display: table-cell;
	padding:.3em 5px 0 0;
	 color: #0973AE;
	}
	
.list_fecha {
	display: table-cell;
	text-align:right;
	font-size:85%;
	width: 75px; /*62px;*/
	padding:.3em 0 0 0;
	/*color: #2B4E61;*/
	color: #CF5800;
	}



/*       inversores    ----- */

.list-inver a{
	color: #0973AE;
	text-decoration:none;
	display:block;
	margin:4px 0px;
	border-bottom: 1px solid #c1c1c1;
	
	}
	
.list-inver a:hover{
	background-color: #FFF3CA;
    }	

/*  ///// estilos anteriores no utilizados hasta el momento 

.encontrados {
	margin-left: 1em;
	}
.encontrados_seccion {
	float:left;
	with: 200px;
	}
.encontrados_contador {
	float:left;
	}	
#titular {
	margin-bottom: .25em;
	clear:both;
}
.titular_fecha {
	float:right;
	font-size: .85em;
	color:grey;
}

 */



/* /////////////////      CSS DEAL  /////////////////////////*/



/* dealanalysis */

.deals_check,.deals_contador,.deals_area, .deals_op,.deals_precio, .deals_tipoprecio ,.deals_superf{
/*	background-color:red;*/
	color:#666666;}
	
.deals_check, .deals_contador,	.deals_titulo, .deals_titulo, .deals_area , .deals_op, .deals_precio, .deals_tipoprecio, .deals_superf, .deals_fecha {
	display: table-cell;
	
	}





.deals_check {

	/*display: table-cell;*/
	width: 18px;
	padding: 3px 3px 0 2px;
/*	border-bottom: 1px solid #c1c1c1;*/
	}
.deals_check:hover {
    background-color: #FED596;
/*	border-right: 1px solid #B3DAF8;
	border-left: 1px solid #B3DAF8;*/
}	
	
	
.deals_contador {

/*	display: table-cell;*/
	width:24px;
	text-align:right;
	padding:3px 10px 0 0;/*.3em 5px 0 0;*/
/*	border-bottom: 1px solid #c1c1c1;*/
	}
.deals_titulo {

/*	display: table-cell;*/
	padding:.3em 5px 0 0;
/*	border-bottom: 1px solid #c1c1c1;*/
    color: #0973AE;
	}
.deals_titulo span{
	color:#999;}
	
	
.deals_area {
	font-size:90%;
/*	display: table-cell;*/
	width:	55px;
	padding:3px 5px 0 0;

	}
.deals_op {
/*	display: table-cell;*/
	width:	50px;
	padding:3px 5px 0 0;

	}
.deals_precio {
/*	display: table-cell;*/
	width: 95px;
	text-align:right;
	padding:.3em 4px 0 0 ;

	}
.deals_tipoprecio {
/*	display: table-cell;*/
	width: 60px;
	font-size:75%;
	padding:.3em 5px 0 0 ;

	}
.deals_superf {
/*	display: table-cell;*/
	width: 80px;
	text-align:right;
	padding:.3em 5px 0 0 ;

	}

.deals_fecha {
/*	display: table-cell;*/
	text-align:right;
	font-size:85%;
	width: 87px; /*62px;*/
	padding:.3em 0 0 0;

	/*color: #2B4E61;*/
	color: #CF5800;
	}


	
	/*  ?? agentes */
	
#div_info_agentes .fila{
	cursor: default; 

	}
	
.agentes_ranking {
	/*float:left;*/
	display: table-cell;
	width:15px;
	text-align:right;
	padding:.3em 12px 0 0;
/*	border-bottom: 1px solid #c1c1c1;*/
	}
.agentes_nombre{
	/*float:left;*/
	display: table-cell;
	padding:.3em 5px 0 0;
/*	border-bottom: 1px solid #c1c1c1;*/
	
	}
.agentes_superf {
	/*float: right;*/
	display: table-cell;
	width: 120px;
	text-align:right;
	padding:.3em 5px 0 0 ;
/*	border-bottom: 1px solid #c1c1c1;*/
	}
.agentes_ops {
	/*float: right;*/
	display: table-cell;
	width: 80px;
	text-align:right;
	padding:.3em 5px 0 0 ;
/*	border-bottom: 1px solid #c1c1c1;*/
	}




/*   //////    TABLE.Gral    //////  ----- */
/* para las  tablas que tienen dos partes*/

.tablas .row{
	display:table;
	width:100%;
	margin:0px;}	
	
.tablas [class*="col-"]{
	padding: 0px;
	float: none;
    width: auto;
	display:table-cell;}
	
	
.tablas [class*="col-"]:first-child{
	padding-right:2px;

}


  /* -- enlaces tabla -- */
  
/*  
.tb-Gral a{                                
	text-decoration:none; color:inherit;
	color: #666666;
	display: block;
    width: 100%;
	}

.tb-Gral tbody tr:hover{
	background-color: #FFF3CA;
	text-decoration:none;
	color:#000;
	}*/
	

	  
.tb-Gral  {
border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
	/*margin-top:10px;*/
}	
.tb-Gral tbody, .tb-Gral thead{}

.tb-Gral tbody tr{ 
	border-bottom: 1px solid #DCDCDC;
	text-align: left;}
.tb-Gral tbody tr:last-child{ 
	border-bottom: none;
	}	
.tb-Gral thead tr:last-child{
/*	border-bottom: 1px solid #999;*/
	border-bottom: 1px solid #FF934A;
	}
/* rompe palabras */	
span.breakPalabra:before{
	content: " ";
    display: inline-block;}	

span.renta{
	color:#1F688F;
	font-size:0.9em;
	}
		
.tb-Gral td,.tb-Gral th{
	padding-top:1px;
	padding-left:1.1%;
	padding-right:1.1%;
/*	min-height:20px;*/
	height:20px;
	}
	
.tb-Gral tr th{
	    /* font-weight: bold; */
    vertical-align: bottom;
    text-align: left;
    font-size: 12px;
	font-weight: normal;
    line-height: 12px;
    padding-bottom: 2px;
    height: 27px;
    background-color: aliceblue;
	color: #0973bf;
	text-transform:capitalize;	
	}	
	

.tb-Gral td{  
	color: #666666;
	vertical-align:top;
	 font-size: 12px; }
	
.tb-Gral td:first-child{
	color:#333;}
	
.tb-Gral p{
    margin-top: 0px; /* no alinea bien con elementos td*/
    margin-bottom: 5px;
}   

/*.tb-Gral .rasante {
	border-bottom: 2px solid #d8d8d8;}
	
.tb-Gral .rasante ~ tr {
	background-color: #fafafa;}	*/
	
	
.tb-Gral .bjRasante.first{
	border-top: 2px solid #d8d8d8;
	}
.tb-Gral .bjRasante{
	background-color: #fafafa;
	}





.tb-Gral .total,.tb-Gral .total td {
	font-weight:bold;
	border-bottom-color: #0973AE;
	background-color:#FFF8DC;
	color: #FF6701;
	    padding-bottom: 2px;}
	
.tb-Gral .total01, .tb-Gral .total01 td {
    /*font-weight: bold;*/
    border-bottom-color: #0973AE;
    background-color: #FFF8DC;
    color: #333;
}
	
.tb-Gral tr.total02 {
	border-bottom-color: #0973AE;
    background-color: #FFFCEE;
	}	
	   
.tb-Gral .total02 td:first-child{
	border-bottom: 1px solid white;
    background-color: white;}
.tb-Gral .total02 td:nth-of-type(2) {
	color:#333;
	text-transform: capitalize;
}

/* tabla EDIF */
.tb-Gral.tb-Edif td, .tb-Gral.tb-Edif td p {
/*	white-space: nowrap;*/}

/* tabla tb-propiedad */

.tb-Gral.tb-propiedad{
	border-bottom: 1px dotted #d1e1ef;
	}
.tb-propiedad thead tr:last-child {
    border-bottom: 1px solid #ff6801;
}

.tb-Gral.tb-propiedad td:nth-of-type(2), .tb-Gral.tb-propiedad th:nth-of-type(2), .tb-Gral.tb-propiedad td:nth-of-type(3), .tb-Gral.tb-propiedad th:nth-of-type(3)  {
	width: 16%;
}

	
/* tabla INFO */
.tb-Gral.tb-info{} /*pesonalización  alineacion*/

.tb-Gral.tb-info td, .tb-Gral.dispon td:not(.total-disp){white-space: nowrap}


.tb-Gral.tb-info td:nth-of-type(3),.tb-Gral.tb-info td:nth-of-type(4),.tb-Gral.tb-info td:nth-of-type(5) {
	    text-align: right;}

.tb-Gral.tb-info th:nth-of-type(3),.tb-Gral.tb-info th:nth-of-type(4),.tb-Gral.tb-info th:nth-of-type(5) {
	    text-align: right;}
		
		
	
	
/* tabla tb-naves */

.tb-Gral.tb-naves{
	border-bottom: 1px dotted #d1e1ef;
	    margin-top: 6px;
	}
.tb-naves thead tr:last-child {
    border-bottom: 1px solid #ff6801;
}

.tb-Gral.tb-naves tr:nth-of-type(1) td {
	    padding-top: 5px;
}
.tb-Gral.tb-naves td:nth-of-type(1){
	width: 7px;
	}
.tb-Gral.tb-naves td:nth-of-type(3){
	width: 45%;
	}

.tb-Gral.tb-naves tr:hover{
    background-color: #FFF3CA;
	cursor:pointer;
}

.tb-Gral.tb-naves tr:hover td {
	color:#0973bf}
	

/*.tb-Gral.tb-naves td:nth-of-type(2), .tb-Gral.tb-naves th:nth-of-type(2), .tb-Gral.tb-naves td:nth-of-type(3), .tb-Gral.tb-naves th:nth-of-type(3)  {
	width: 16%;
}	*/
	
	
		
		

/* tabla info :: Disponibilidad Historico*/		
		
.tb-dispoHistorico tr{	
	border-bottom: 1px solid #0973AE;
	}		

.btn-notas{
        padding: 1px 5px;
    font-size: 12px;
    line-height: 1.4;
    border-radius: 3px;
    color: #0973bf;
    background-color: white;

}
.btn-notas:hover,.btn-notas:focus{
    color: #FF6801;
    background-color: aliceblue;
	box-shadow: 1px 1px 2px #666666;
}
	
.popoverNotas{
	/*font-size:12px;*/
	padding:0px;
	border-radius:3px;
	/*border: 1px solid #5F9ECC;*/
	border:none;
	background-color:transparent;
	}
.popoverNotas	.popover-content{
	padding: 4px 9px;
	background-color: #2B4E61;
	background-color: rgba(43, 78, 97,0.94);
  
    font-size: 12px;
    color: #FFFFFF;
	border-radius: 3px;
	
	/*
	 padding: 4px 9px;
    background-color: aliceblue;
    font-size: 12px;
    color: #0973AE;*/
	}
	
.popoverNotas.bottom > .arrow {
	/*border-bottom-color: #27618C;*/
	}

.popoverNotas.bottom > .arrow:after {
	content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #2B4E61;
    border-bottom-color: rgba(43, 78, 97,0.94);
	
 /*   content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #F0F8FF;*/
}

		

/* tabla dispon */

.tb-Gral.dispon{
/*	max-width: 300px;*/    /*	///// REVISAR !!!!!!!!! se quito tras la modificación de la tabla de edificios*/ 
	}
	
.tb-Gral.dispon	tr:first-child th{
	text-align:center;
	border-bottom: solid 1px #CCDAFA;
	}
	
	
.tb-Gral.dispon th:nth-of-type(2),.tb-Gral.dispon td:nth-of-type(2){	
	    padding-right: 10%;   /*	///// REVISAR !!!!!!!!! se quito tras la modificación de la tabla de edificios  hay que poner 10%*/ 
	}	
	
	
	
.tb-Gral.dispon th,.tb-Gral.dispon td{	
	font-size:11px;
	text-align:right;
	padding-right:2px;
	}
	
.tb-Gral.dispon  td.total-disp{	
/*    color: #666666;*/
	text-align:center;
	background-color: #FFFCEE;
        border-bottom: solid 1px #C1C1C1;
	}
 td.total-disp p{
	 line-height:20px;
	 margin-bottom:1px;
	 }	
 td.total-disp p:first-child{
	 color: #FF6701;
	 font-weight:bold;
	     border-bottom: solid 1px #0973AE;
		 background-color:#FFF8DC;
		     margin-top: -1px;
	 }	
td.total-disp p span {
   /* width: 49%;*/
    display: inline-block;
    color: #393333;
    max-width: 100px;
	white-space:nowrap;
	}	
	 	
		
		
		
		
	
/* .tb-Gral  planta */


.tb-Gral-cont {
/*    margin-right: -15px;
    margin-left: -15px;*/
    overflow-x: auto;
    width: 100%;}
	

.tb-Gral.planta{
	/*max-width:300px;*/
	}

.tb-Gral.planta th{	text-align:right;} 
.tb-Gral.planta td{
/*	font-size:12px;	
	font-size:11px;*/
	text-align:right;
	}
.tb-Gral.planta td:nth-of-type(2), .tb-Gral.planta th:nth-of-type(2) { /* alinea a la dch el uso:oficinas */
	text-align:left;
	padding-left:2px;}	
	
	
.tb-Gral.planta td:first-child, .tb-Gral.planta th:first-child{   /* plantas */
	min-width: 30px;
    padding-right: 8px;}
	
	
/*.tb-Gral.planta tr:last-child td{	
    font-weight: bold;
	color:#FF6701;
}*/
/*.tb-Gral.planta td{	
    color: #666666;
}*/

.tb-Gral.planta td:last-child, .tb-Gral.planta th:last-child{
	padding-right:2px;
}

/* .tb-Gral  .tb-Ocupacion */

.tb-Gral.tb-Ocupacion{}

.tb-Ocupacion td:nth-of-type(2), .tb-Ocupacion th:nth-of-type(2) {
	text-align:right;}
	
/*.tb-Ocupacion tbody tr:last-child {
	 border-bottom: solid 1px #0973AE;
	
	}*/
.tb-Ocupacion tbody tr:last-child.total  {
	border-bottom:none;
	}
.tb-Ocupacion .total{     
	     text-align:right;  
	}
.tb-Ocupacion .total03 td{                                   
    background-color: #FFFCEE;
	color:#FF6701;
/*	border-bottom-color: #0973AE;*/
	}
	
.tb-Ocupacion .total03 td:first-child{  
/*     text-align:right; */ 
	  /*   font-weight: bold;     */                  
	}

.tb-Ocupacion tr.subHeader td{		
	vertical-align: bottom;
   /* text-align: left;*/
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    padding-bottom: 2px;
    height: 27px;
    background-color: aliceblue;
    color: #0973bf;
	border-bottom: 1px solid #0973AE; /*999*/
}

	
/*.tb-Ocupacion tbody tr:last-child.total  {
	border-bottom:none;

	}*/






/*.tb-Gral.planta tr:last-child td:last-child{	
	text-align:left;
}*/

/* ///////////////////////////////////                       /////////////////////////////////*/ 
	/*    vencimientos table.venc    ----- */  
	
table.venc tr:hover{
	background-color: #FFF3CA;
	text-decoration:none;
	color:#000;
	}
table.venc a{text-decoration:none;}
	
table.venc  {
	border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}	
	
table.venc tr{
	border-bottom: 1px solid #c1c1c1;}	

.venc tbody{
	display: table;
    width: 100%;
	}
	
.venc tr{
	display: table-row;
    width: 100%;
	}
   /* venci personalizado*/
.venc .check{
	padding-right: 2px;
	}
   
.venc .direccion a {
	color:#0973AE;
	}
.venc .vencimiento a {
	color:#CF5800;
	}
.venc .inquilinos,.venc .actuales, .venc .vencimiento,.venc .direccion  {
	font-size: 13px;
	    padding-top: 2px;}
		
	


		
		
/* tb-subastas */
		
.tb-Gral.tb-subastas{
	}	
	
/*.tb-subastas thead tr:last-child {
    border-bottom: 1px solid #ff6801;
}*/
/*.tb-Gral.tb-subastas th{
	word-wrap: break-word;
	}	*/
.tb-Gral.tb-subastas th:nth-of-type(1){/*direccion*/
	min-width:90px;
	}	
.tb-Gral.tb-subastas th:nth-of-type(1){/*direccion*/
	min-width:90px;
	}	
.tb-Gral.tb-subastas th:nth-of-type(3){/*superficie*/
	min-width:75px;
	}	
	
/*word-wrap: break-word;*/

@media (max-width:767px) {          /* ///////// solo movil    */


.tb-Gral.tb-subastas{
	border-bottom: 1px dotted #d1e1ef;
	}	


.tb-Gral tr th{
	font-size:11px;}

.tb-Gral.tb-propiedad{
	    margin-top: 15px;
	}
/*.tb-Gral-cont {
  
    overflow-x: auto;
    width: 100%;} */
	
.tb-Gral.planta, .tb-Gral.dispon {
	margin:auto;}
	
.tb-Gral.planta td{
	font-size:11px;}

.tabla>div{	}
.tabla {}
.tabla_cabecera .fila, .fila.cabecera {
	    border-bottom-color: #FF9E5C;}
 
 
.tabla a{
/*	border-bottom: 1px solid #c1c1c1;*/
	text-decoration:none;
	/*	display: block;*/
	
	}
.fila{
	/*border-bottom: 1px solid #ccc;*/}    /*   SE PUEDE ACTIVAR SI SE QUIERE MARCAR MÁS LA SEPARACIÓN*/
.deals_a{min-height: 44px;}
	
.deals_contador {
    	border-bottom:none;
		display:none;
	}
	
.deals_check {
    	/*border-bottom:none;
		display:none;*/
	}	
.deals_check {
	padding: 3px 8px 0 0px;
   /* padding: .3em 6px 0 0;*/

	}
	
	
	
.deals_titulo {
	line-height: 1.3;
	display:block;
	border-bottom: 1px dotted #c1c1c1;
	background-color: aliceblue;
	
	}
	
.deals_tipoprecio,
.deals_precio,
.deals_superf,
.deals_fecha{
	width:74px;
	display:inline-block;
	border-bottom:none;
	font-size: 12px;
/*	color: #CF5800;*/
	color: #666666;
	}
.deals_fecha{
	width: 64px;
    /* float: right; */
    position: absolute;
    right: 2px;
	}		
		
		
.deals_contador {
    width: 12px;
	padding: .3em 3px 0 0;
	}

.deals_superf{
	text-align:left;
	}
.deals_fecha{
	float: right;
	color: #CF5800;
	}
.deals_tipoprecio{
	width:56px;}	
/*   list   */	
.list_check {
	padding: 3px 10px 0 0px;
		/*display:none;*/}
		
	
	
	 /*   vencimientos */	
	
.venc .vacio {
	display:none;
	}
.venc .check{
	padding-right: 5px;
/*	display:none;*/
	}
	
.venc .inquilinos {
	padding-left: 1%;
	width: 45%;
	}
	
.venc .direccion {
	padding-left: 1%;
	width: 45%; 
	}
	
.venc .actuales {
	 width: 75px;
    display: inline-block;
	}
}

@media (max-width:450px) { 

 table.tb-Gral.tb-subastas {
	 display:block;	 
	 }
	 
.tb-Gral.tb-subastas tbody,.tb-Gral.tb-subastas tr  {
	 display:block;	 
	 }
 .tb-Gral.tb-subastas td{
	display: table;
    width: 100%;
	 } 
	    
	 
.tb-Gral.tb-subastas thead{
	display:none}
	
.tb-Gral.tb-subastas td:empty{
	background-color:#CF0;
	display:none;
	}	
.tb-Gral.tb-subastas  tr{
	border-bottom:none;
	margin-bottom:5px;}	
.tb-Gral.tb-subastas td{
	height:auto;
	font-size:13px;
	line-height:1.4em;	
	}

.tb-Gral.tb-subastas .direc{
	font-size:13px;
	color:#0973bf;
	font-family:'ruda',sans-serif;
	background-color:aliceblue;
	text-transform: capitalize;
	line-height:1.7em;	
	border-bottom: 1px solid #0973AE;
}
.tb-subastas td::before{
    display: table-cell;
    width: 20%;
	    font-size: 12px;
		color:#888;
		    min-width: 64px;
}	
	
	
.tb-subastas .direc:before{
	/*content:"Dirección:";*/
	}
.tb-subastas .secc:before{
	content:"Sección:";
	}
.tb-subastas .super:before{
	content:"Superficie:";
	}
.tb-subastas .uso:before{
	content:"Uso:";
	}
.tb-subastas .edif:before{
	content:"Sup. Edificable:";
	}
.tb-subastas .prec:before{
	content:"Precio:";
	}
.tb-subastas .comen:before{
	content:"Comentarios:";
	}











 
.tb-Gral.planta td:first-child, .tb-Gral.planta th:first-child{   /* plantas */
	min-width: 18px;
    padding-right: 2px;}


.tb-Gral td:first-child{
   /* word-break: break-word;*/
	/*min-width:43px;*/

	}

.tb-Gral tr th, .tb-Gral.dispon th{
	font-size:10px;}
	
.tb-Gral td:first-child, .tb-Gral td, .tb-Gral td p{
	font-size:11px;}
	
	
.tb-Gral td, .tb-Gral th,  {
	padding-left: 1px;
	padding-right: 1px;}	
	
	
.venc .vencimiento, .venc  .actuales {
	}
.venc .vencimiento {
	display: inline-block;
    float: right;
	}	
}
@media (max-width:415px) {  


.tb-Gral th {
	font-size:12px}	
	
.venc .direccion, .venc  .inquilinos {
		word-break: break-all;
/*		width:30%;*/
	}
.resp-tab-content {
		display: none;
		padding: 3px !important;
	}
}
@media (max-width:360px) {
/*	.venc .inqulinos{
	word-break: break-all;

} */

}







@media (min-width: 768px){ 
.tablas [class*="col-"]:first-child{
	padding-right:5px;
	min-width:57px;
}
	.deals_fecha {
		width: 87px; /*62px;*/
	}
}

/* /////////////////        fin 	 css deals /////////////////////////*/