/* css para aproximar FOLDY a JAVIER */
/* 
@font-face {
	font-family: "Ruda";
	src: url("/css/fonts/ruda/Ruda-Regular.ttf"), url("/css/fonts/ruda/Ruda-Black.ttf"), url("/css/fonts/ruda/Ruda-Bold.ttf"), url("/css/fonts/ruda/SignikaNegative-Bold.ttf");  
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Ruda IE";
	src: url("/css/fonts/ruda/Ruda-Black.eot"),url("/css/fonts/ruda/SignikaNegative-Bold.eot"),url("/css/fonts/ruda/Ruda-Regular.eot"),url("/css/fonts/ruda/Ruda-Bold.eot");
}

@font-face {
	font-family: "Questrial";
	src: url("/css/fonts/questrial/Questrial-Regular.ttf");	    
}

@font-face {
	font-family: "Questrial IE";
	src: url("/css/fonts/questrial/Questrial-Regular.eot");
}
*/

body {
	/* TEST
	background-color: #F5F5F5;
	*/
	}
	
.widget > .widget-tittle {
	background:#658DB5;
	color:#FFF;
	border: none;
	}
/*
.widget > form > .widget-body {
	padding:0; 
}
*/
.resp-tabs-container {
	
	}
.resp-tab-active {
	
	}
	
section#titulos {
	margin-bottom: 48px;
	}

section.flash > h2.titulo {
	border-bottom:none !important;
	background:#658db5;
	color:#FFF;
}

.expander-btn {
	padding-top:2px !important;
}

@media screen and (min-width: 420px) {
	
}

@media screen and (max-width: 420px) {
	
}

@media screen and (min-width: 480px) {
	
	section.flash > .titulos {
		border-left: 1px solid #c1c1c1;
		border-right: 1px solid #c1c1c1;
		border-bottom: 1px solid #c1c1c1;
	}
	
}


@media screen and (min-width: 800px) {
	
}
