<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.propertyweb\.eu$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.propertyweb.eu/{R:1}" />
                </rule>
                <rule name="https redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
