/* css para aproximar FOLDY a JAVIER */
/* */
@font-face {
	font-family: "Ruda";
	src: url("/css/fonts/ruda/Ruda-Regular.ttf"), url("/css/fonts/ruda/Ruda-Black.ttf"), url("/css/fonts/ruda/Ruda-Bold.ttf"), url("/css/fonts/ruda/SignikaNegative-Bold.ttf");  
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Ruda IE";
	src: url("/css/fonts/ruda/Ruda-Black.eot"),url("/css/fonts/ruda/SignikaNegative-Bold.eot"),url("/css/fonts/ruda/Ruda-Regular.eot"),url("/css/fonts/ruda/Ruda-Bold.eot");
}

@font-face {
	font-family: "Questrial";
	src: url("/css/fonts/questrial/Questrial-Regular.ttf");	    
}

@font-face {
	font-family: "Questrial IE";
	src: url("/css/fonts/questrial/Questrial-Regular.eot");
}


body {
	/**/
	background-color: #F5F5F5;
	/* font-family: "Ruda"; */
	}
.contenedor {
	/* 	*/
	font-size:.85em;
}
	
#cabecera, footer {
	/* background-color: #F5F5F5; */
	background-color: #FFF;
	}

/*	llevado a /flash/css_foldy.css
.box_blanco {
	background-color: #FFF;
	}
*/
	
.heading {}
	
.caja {
	/*
	border: 1px solid #c1c1c1;
	*/
	background-color: #FFF;
	}
.widget{
	background: #FFF;
}
.widget > .widget-tittle {
	background:#658DB5;
	color:#FFF;
	border: none;
}
.widget > .widget-body {
	background:#FFF;
}

.resp-tabs-container {
	box-shadow: 4px 4px 0px #b8bcbf;
	}
.resp-tab-active {
	/*box-shadow: 3px 3px 0px #b8bcbf;*/
	}
	

section.flash > h2.titulo {
	/*border-bottom:none !important;*/
	}

section.flash > .titulos {
	background: #FFF;
	/*border-top: 1px solid #c1c1c1;*/
	border-bottom: 1px solid #c1c1c1;
	}



@media screen and (min-width: 480px) {
	.caja {
		box-shadow: 4px 4px 0px #b8bcbf;
	}
	.widget {
		box-shadow: 4px 4px 0px #b8bcbf;
	}
	
	section.flash > .titulos {
		border-left:1px solid #c1c1c1;
		border-right:1px solid #c1c1c1;
		box-shadow: 4px 4px 0px #b8bcbf;
	}
	
	
}


@media screen and (min-width: 800px) {
	
}
