/*!
 * TABS
 */


 /* blanco/azul */
.btn.bt_lupa{       
	background-color: white;
    color: #2B4E61;
    border-color: #e3e3e3;

    margin-right: 4px;
    margin-top: 5px;
    float: right;
    border: none;
	
	}
/*.btn.bt_lupa:hover{
	border-bottom-color: #3F728D;
    color: #F66719;         
	background-color: #FFF;
	}*/




<!--  TABS  -->

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 12px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}


.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
/*  background-color: #eeeeee;
  border-color: #337ab7;*/
}

/*.nav .open > a ,
.nav .open > a:hover,
.nav .open > a:focus {   
    background-color: #eeeeee !important;
    border-bottom-color: #337ab7 !important;
	background-color:#F00 !important;
}
*/


.lineNavs.nav .open > a ,
.lineNavs.nav .open > a:hover,
.lineNavs.nav .open > a:focus {   /* , .nav .open > a:hover, .nav .open > a:focus*/
     background-color: #eeeeee;
    border-bottom-color: #84C3F3;/*#337ab7;*/
}

.lineNavs.nav .open > a .icon-arrow-down2:before {
	color: #007bd0;
}
.lineNavs .dropdown-menu li > a:hover {
	    border-bottom: solid 3px #52aaec;
		padding-bottom:3px;
	}
	
.lineNavs .dropdown-menu > li > a {
	border-bottom: 1px solid #84C3F3;
	}

.lineNavs .dropdown-menu{
	 padding: 0;
	 border-radius: 1px;
	}


.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}


.nav > li > a > img {
  max-width: none;
}


.nav-tabs {
  /*border-bottom: 1px solid #dddddd;*/
  border-bottom: 1px solid #52AAEC;
}


.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
/*  margin-right: 2px;*/
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
       text-transform: uppercase;
  color: #999999;  /*jj*/
}

.nav-tabs > li > a:hover {
/*  border-color: #eeeeee #eeeeee #dddddd;*/
      border-color: #eeeeee #eeeeee #ff6802;
	  color: #007bd0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
/*  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;*/
  color: #52AAEC;
  background-color: #ffffff;
  border: 1px solid #8CCEFF;
  
  border-bottom-color: transparent;
  cursor: default;
}



.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}

/*.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}*/




/*   
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}




/* tabs */	
.tab-content{
  position:relative;
  
}
.tab-content.confiltros > .tab-pane {
	padding-right: 320px;
	    min-height: 480px;
	}


.tab-content > .tab-pane {
  display: none;
  position:relative;
  
  
   /*-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
  -webkit-transition: padding-right ease-out .3s;
    -o-transition: padding-right ease-out .3s;
    transition: padding-right ease-out .3s;
  
  
  
}

.tab-content > .active {
  display: block;
  position:relative;/*jj*/
}

.tab-content.confiltros > .tab-pane > .caja-operaciones{ /*añade paddin cuando se activan los filtros*/
 	padding-right: 10px;

}


.tab-pane .cerrar{
	display:none;
	
}




/*.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
*/




 /* deal-TABS       toda la caja*/ 
 
 .DealTabs img, .PwTabs img{
	 max-width:100%;
	 height:auto;}
 
.DealTabs, .PwTabs{
	position:relative;
	overflow:hidden; 
	
	}
	
/* div contenedor tabs */	
.DealTabs .nav-tabs, .PwTabs .nav-tabs{
    margin-bottom: 15px;
}

.submenu{
	margin-top: -15px;
}

/*  deal-navs   >>   MENU LATERAL  solo navegación */


.deal-navs{        /*  den DISPONIBILIDAD  se ha modificado por filtros-navs  */
	position: absolute;
	z-index: 1000;	
	height : 100%;
    overflow: auto; 
	background-color: white;
	
	
	z-index: 3;	
	}
	
	
	
 /* navs */  	
.lineNavs.nav-tabs{        
	border-bottom: solid 1px #52aaec;
	}
.lineNavs li{
	}
	
.lineNavs li > a {
/*  margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;*/
    border: 1px solid transparent;
	border-bottom: 4px solid transparent;
	color:#777777;
}

.lineNavs li.active > a, .lineNavs li.active > a:hover , .lineNavs li.active > a:focus {
	color:#007bd0;
	border: solid 1px #fff;
	border-bottom: solid 3px #52aaec;

   /* background-color: transparent;*/
	background-color: #eeeeee;
 }
 
/*.lineNavs li > a:hover{
	color:#007bd0;
	border: solid 1px #ff6802;

 }*/


.lineNavs li > a:hover {
	border-color:transparent;
	background-color: transparent;
	border-bottom: solid 4px #52aaec;
	
	color:#007bd0;
	}
	
/*  resultados */

.nav-tabs .resultados-li{
	float:right;
	}



/*  ////////////       DISPONIBILIDAD         ///////////////*/

.miga02 {
    padding-top: 0px;
    margin-top: -3px;
    margin-left: -15px;
    margin-bottom: -5px;
}






@media (max-width: 380px) {           /*jj*/

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 6px;
  font-size: 12px;

}
}

@media (max-width: 450px) {           /*jj*/
	/*.nav > li > a {
		padding: 8px 4px;
		font-size: 13px;
	}*/
	
	.btn.bt_lupa{
		margin-top: 3px;
	}
	
	

	
}


@media (max-width: 767px) {           /*jj*/


.tab-content.confiltros > .tab-pane {
	padding-right: 0px;
	    min-height: 480px;
	}
	



.menu01 ul{
	background-color:#f7f7f7;
	border-radius: 5px 5px 0 0;
}

.btn.bt_lupa{
	    margin-right: 3px;
	}
	
}

@media (min-width: 768px) {           /*jj*/


	.menu01{          /* caja */         
		float: right;
		position: absolute;
		top: 3px;
		right: 0;
		z-index: 1500;
		}
	.menu01 .resultados-li{
		display:none;
		}
	.menu01 li {
    float: right;
		}
	.lineNavs .nav-tabs{        /* navs */   
	border-bottom: solid 1px #52aaec;
	 margin: auto 0 auto auto;
	}	

	.tab-pane .cerrar{
	text-decoration:none;
     display: block;
    position: absolute;
    right: 7px;
	top: 5px;
	}
	.submenu{
	margin-top: 0px;
	}
	
	.tab-content.content01{
/*	border: 1px solid #d1e1ef;*/
    border-top: none;
    margin-top: -15px;
	box-shadow: -1px 2px 2px #888888;}
	
	

/* //////////// .deal-NAVS    traido de  tabs-back.css solo navegación ///////////////  */
/* deal-navs   >>   MENU LATERAL */     

	.deal-navs .resultados-li{
			display:none;
			}
	.deal-navs li {
		float: right;
			}
	.deal-navs .nav-tabs{        /* navs */   
		border-bottom: solid 1px #52aaec;
		 margin: auto 0 auto auto;
		}	
	
	.tab-pane .cerrar{
		text-decoration:none;
		 display: block;
		position: absolute;
		right: 7px;
		top: 5px;
	}
		
	.deal-tabs>.nav-tabs {
		padding-right: 334px;
	}	
}





