* {margin:0;padding:0;}

body {
background-image:linear-gradient(bottom, rgb(255,255,255) 20%, rgb(229,229,229) 70%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 20%, rgb(229,229,229) 70%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 20%, rgb(229,229,229) 70%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 20%, rgb(229,229,229) 70%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 20%, rgb(229,229,229) 70%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.2, rgb(255,255,255)),
	color-stop(0.7, rgb(229,229,229))
);
background-repeat:no-repeat;
	}
div#wrapperGeneral{
	width:830px;
	height:auto;
	margin:0 auto;
	}
a.volver {
	position:relative;
	top:20px;
	left:-80px;
	font:24px Helvetica, Arial, sans-serif;
	color:#666;
	text-decoration:none;
	font-weight:bold;
	}
a.siguiente, a.anterior {
	float:right;
	margin-top:15px;
	font:24px Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#666;
	text-decoration:none;
	}
a.anterior { float:left; }
div.wrapperSection {
	width:776px;
	height:auto;
	min-height:606px;
	margin:43px auto 0;
	padding-top:24px;
	padding-left:30px;
	padding-right:24px;
	}
div#amarillo {background-color:#da9401;}
div#rosa {background-color:#ee008a;}
div#azulClaro {background-color:#019bff;}
div#rojo {background-color:#fe0000;}
div#violeta {background-color:#b307ab;}
div#turquesa {background-color:#039896;}
div#naranja {background-color:#fc5b03;}
div#gris {background-color:#4687a7;}
div#verde {background-color:#009c0d;position:relative;}
div#azulOscuro {background-color:#0069f9;}
div#negro {background-color:black;}
div#lima {background-color:#a3cd01;}
div#azul {background-color:#0a12bb;}

div.wrapperSection h1{
	color:white;
	font:42px Helvetica, Arial, sans-serif;
	font-weight:bold;
	float:left;
	width:574px;
	}
div.wrapperSection div.logo {
	width:142px;
	height:62px;
	background-image:url(../img/logo-pw.png);
	float:right;
	margin-left:60px;
	}
div.wrapperSection div.contenido {
	width:761px;
	height:auto;
	min-height:494px;
	margin:95px 0 0;
	padding-top:17px;
	padding-right:15px;
	}
div.wrapperSection div.contenido img.izquierda {
	float:left;
	margin-top:17px;
	}
div.wrapperSection div.contenido div.textoDerecha {
	width:385px;
	height:435px;
	float:left;
	padding-left:30px;
	padding-top:15px;
	}
div.wrapperSection div.contenido img.centrada {
	position:relative;
	left:50%;
	margin-left:-194px;
	margin-bottom:20px;
	margin-top:10px;
	}
div.wrapperSection div.contenido div.textoCentrado {
	width:746px;
	height:auto;
	}
div.wrapperSection div.contenido div.textoIzquierda {
	width:385px;
	height:435px;
	float:left;
	padding-right:30px;
	padding-top:15px;
	}
div.wrapperSection div.contenido img.derecha {
	float:right;
	margin-top:17px;
	}
div.wrapperSection div.contenido div.textoColumnaIzquierda {
	width:340px;
	height:auto;
	float:left;
	padding-top:15px;
	padding-right:40px;
	}
div.wrapperSection div.contenido div.textoColumnaDerecha {
	width:340px;
	height:auto;
	float:right;
	padding-left:40px;
	padding-top:15px;
	}

div.wrapperSection div.contenido p {
	font:12px Helvetica, Arial, sans-serif;
	font-weight:normal;
	color:white;
	margin-bottom:30px;
	text-align:justify;
	line-height:20px;
	}
div.wrapperSection div.contenido p strong {
	font-size:18px;
	}
div.wrapperSection div.contenido p a#miembros {
	text-decoration:none;
	color:#333;
	font-weight:bold;
	font-size:14px;
	}
div.wrapperSection div.contenido p a#aqui {
	text-decoration:none;
	color:#333;
	font-weight:bold;
	font-size:14px;
	}
div.wrapperSection div.contenido p.saludo {
	font-style:italic;
	margin-bottom:10px; !important
	line-height:15px;
	text-align:right;
	}
div.wrapperSection div#contenedorSms {
	background-image: url("../img/fondo-sms.png");
    background-repeat: no-repeat;
    height: 250px;
    width: 300px;
	position:absolute;
    top:353px;
    left:461px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 15px;
	}
div.wrapperSection div#contenedorSms p.sms{
	color:#333;
	font-size:10px;
	line-height:15px;
	margin-bottom:10px;
	font-family:Helvetica, Arial, sans-serif;
	}
div.wrapperSection div#contenedorSms p.sms strong.strongSms{
	font-size:12px;
	font-weight:bold;
	}

div.wrapperSection div#contenedorSms strong#cursiva{
	font-style:italic;
	color:#333;
	font-size:11px;
	font-weight:400;!important
	}

div.pie p{
	height:50px;
	font:9px Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:50px;
	clear:both;
	}
hr.clearfix {
    background-color:red;
    clear:both;
    height:1%;
	visibility:hidden;
	}
