html {
	overflow:inherit !important;
}

#content {
	
	margin-top:0;
	margin-bottom: 0;
	
	position: absolute;
	left: 0;
	right: 0;
	bottom: 22px;
	top:45px;
	
	overflow-x: hidden;
	overflow-y: scroll;
	
}

footer {
	position: absolute;
	bottom: 0;
}
